Flask==1.1.2
Flask-Admin==1.5.7
Flask-SQLAlchemy==2.5.1
loguru==0.5.3
requests==2.25.1
mechanicalsoup==1.0.0
fake-useragent==0.1.11
minio==7.0.3
Flask-BabelEx==0.9.4
bootstrap-flask==1.5.2
Flask-WTF==0.14.3