{% extends 'admin/master.html' %}
{% block body %}
<div class="container">
    <h5>任务类型</h5>
    <p>小说</p>
    <h5>任务详情</h5>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">序号</th>
                        <th scope="col">页号</th>
                        <th scope="col">进度</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <th scope="row">{{ item.idx }}</th>
                        <td>{{ item.page_idx }}</td>
                        <td>{{ item.complete }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}